
<!doctype html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="site.css" type="text/css" rel="stylesheet">
  <title>Megan Schemmel's Acting Website</title>
</head>

  <body>
    <div class="container">
      <%= partial "partials/header" %>

      <%= partial "partials/subheader" %>

      <%= partial "partials/hero-img" %>

      <%= partial "partials/projects-photos" %>

      <%= partial "partials/carousel-img" %>

      <%= partial "partials/carousel-numbers" %>

      <%= partial "partials/social-link" %>

      <%= partial "partials/footer" %>
    </div>
    <div style="height: 300px; width: 100%;"></div>
  </body>
</html>
